
@import "media";
body{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: 100%;
}
a{
    text-decoration: none;
}
.w-90{ width: 90% ; margin: 0 auto;}
.black{
    color: black;
}
header {
    z-index: 1000;
    position: sticky;
    .bars{
        font-size: 25px;
     
    }
    .logo{
        transition: 0.3s all;
        border-bottom: 1px solid black;
        &:hover{
            color: #3793df;
        }
    }
    .search-input{
        transition: 0.5s border-bottom;
        border-bottom: 1px solid #fff;
        input{
            outline: 0;
            &::placeholder{
                color: #bdbdbd;
            }
        }
        &:hover{
            border-bottom: 1px solid black;
        }
    }
    .links{
        ul{
            li{
                display: inline;
                a{
                    color: black;
                    transition: 0.3s;
                    &:hover{
                        color: #3793df;
                        
                    }
                }
                
            }
        }
    }
    .shirt-icon{
        transition: all 0.3s;
        margin-left: 5px;
        &:hover{
            color: #85b9e4;
            transform: scale(1.2);
        }
    }
   
}
.f-arial{
    font-family: Arial, Helvetica, sans-serif;
}
.white{
    color: #fff;
}
#bar-icon{
    opacity: 1;
    transition: 0.2s;
    font-size: 25px;
}
#xmark-icon{
    opacity: 0;
    transition: 0.2s;
    font-size: 25px;
}

.search-icon{
    z-index: 100;
    top: 35%;
}
.social-icons-right{
    z-index: 1000;
    top: 400px;
    left: 15px;
    i{
        font-size: 25px;
        margin-top: 10px;
        transition: 0.5s;
        color: rgb(187, 187, 187);
        &:hover{
            color: #3793df;
            transform: scale(1.5);
        }
    }
}
.main{
    width: 100%;
    .head-main{
        background-color: #3793df;
        color: white;
        h2{
            font-size: 2.5rem !important;
        }
        p{
            font-size: .975rem;
        }
        button{
            background-color: transparent;
            border: 2px solid white;
            transition: all 0.3s;
            padding: 5px 2rem;
            &:hover{
                background-color: white; color: #3793df;
            }
        }
    }
    .ad-list{
        div{
            width: calc(100%3);
            img{
                width: 100%;
            }
        }
    }

}
.newArivals{
    text-align: center !important;
}
.text-new-a{position: relative; width: max-content; font-size: 3rem;}
.text-new-a::before{
    border: 3px solid #3793df;
    content: "";
    width:100%;
    top: 60%;
    position: absolute;
    z-index: -1;
}
.w-35{
    width: 35%;
}
.myShop{
    img{
        width: 100%; cursor: pointer;
    }
    p, span{
        cursor: pointer;
    }
    span{
        color: #3793df;
    }
    .item-for-sale{
    .smile{
        background-color: #bdbdbddc; color: #1f5079; width: 100%;
         padding: 15px ; text-align: center; cursor: pointer;
        transform: translateY(70px); opacity: 0; transition: 0.4s;
    }
    &:hover{
        .smile{
           
                transform: translateY(-70px);
                opacity: 1;
        
        }
    }
}
}
.shopAll{
    margin-top: 50px;
}
.shopall-btn{
    background-color: white;
    border: 3px solid #3793df;
    transition: all 0.3s;
    &:hover{
        background-color: #3793df; color: white;
    }
}
footer{
    background-color: black;
    color: white;
    margin-top: 100px;
    padding: 80px 40px;
    a{
        margin: 10px 0; 
        transition: all 0.3s;
        &:hover{
            color: #3793df;
        }
    }
    .links-f{
        text-align: center;
    }
    .email-box{
        input{
            background-color: transparent;
            border: 1px solid #fff;
            padding: 10px 15px; outline: 0;
        }
        button{
            background-color: #3793df; color: white; margin-top: 15px;
            border: 0; padding: 10px 25px;
            transition: 0.2s;
            &:hover{
                opacity: 0.8;
                color: #1f5079;
            }
        }
    }
}